.post{  height:15%;
	font-family:"Menlo";
	margin:0px auto 5px auto;
	max-width:600px;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	border:2px solid hsla(159, 100%, 50%, 1);

}

.post > h4 {
	padding-left:10px;
	border-bottom:2px dashed hsla(32, 100%, 50%, 1);
	//background-color:hsla(39, 100%, 50%, 1);
}
